body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;

}

#main {
    width: 626px;
    margin: 64px auto 64px;
}

#main img {
    margin-bottom: 32px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 16px;

}

h1 span {
    font-weight: bold;
}

span {
    color: #EE24FF;
}

p {
    color: #828282;
    font-size: 15px;
    line-height: 22px;
}

p span {
    font-weight: bold;
    color: #3F3D56;
}

#footer a {
    font-weight: 700;
    font-size: 15px;
    color: #3F3D56;
    margin-right: 41px;
    
}


.line {
    width: 391px;
    height: 0;
    
    margin: 0 auto 64px;
    
    border: 1px solid #ECEFF2;
}

#wave {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}